*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans' , sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}

.row{
    width: 80%;
    display: flex;
    flex-direction:row ;
    height: 40vh;

}

.row-column-100 {
    width: 100%;
    display: flex;
    flex-direction:row ;
}

.custom-font{
    font-family: 'playfair display' , serif;

}

.row-column{
    width: 80%;
    display: flex;
    flex-direction:column ;

}

header{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    background-image: url(https://i.postimg.cc/Kjk54H7c/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    justify-content: center;
    padding: 60px;
    color: white;
}


.banner-heading{
    font-size: 6rem;
    font-style: italic;
    padding: 0 1.6rem;
}

.banner-text{
    font-size: 0.9rem;
    font-weight: normal;
    background-color: white;
    color: black;
    padding: 50px;
    height: 200px;
}

.anon-section{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #d9b1b3;
    color: white;
}

.anon{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.anon span{
    font-size: 4rem;
    line-height: 0;
}

.anon-section p{
    font-size: 1rem;
    width: 50%;
    line-height: 1rem;
    
}

.gallery .img-container{
    height: 450px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.gallery .gallery-img1{
    background-image: url(https://i.postimg.cc/5yDNwDWH/gallery-1.jpg);
}

.gallery .gallery-img2{
    background-image: url(https://i.postimg.cc/zXRfJDTT/gallery-2.jpg);
}

.gallery .gallery-img3{
    background-image: url(https://i.postimg.cc/RCYF5JJM/gallery-3.jpg);
}

.gallery .gallery-img4{
    background-image: url(https://i.postimg.cc/7h5ZJwd8/gallery-4.jpg);
}

.gallery .gallery-img5{
    background-image: url(https://i.postimg.cc/T3M3h8cF/gallery-5.jpg);
}

.gallery .gallery-img6{
    background-image: url(https://i.postimg.cc/PqHJVGpY/gallery-6.jpg);
}

.coming-soon{
    background-color: #d9b1b3;
    padding: 50px 0;
    color: white;

}

.coming-soon .row-column-100{
    justify-content: center;
}

.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form{
    
}

.coming-soon .coming-soon-heading {

    
}

.coming-soon .coming-soon-text{
   
}

.coming-soon .coming-soon-form{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.coming-soon-form .row-100{
    

}

.coming-soon-form .input-container{


}

.input-container .text-input,
.input-container .form-button{

    
}

.pic-textsection{
    display: flex;
    flex-direction: row;
}

.pic-textsection .img-part{
    padding: 50px 50px 50px 100px;
}

.pic-textsection .text-part{
    padding: 200px 50px 50px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signature{
    padding: 50px 0 0 10px;
    font-family: 'Alex Brush' cursive;
    color: rgb(248, 97, 122);
    font-style: italic;
}

.spring{
font-family: 'Playfair Display', serif;
}
.spring-collection-section{
    background-color: #d9b1b3;
}

.spring-collection-section h1{
    padding: 10vh 65vh 2vh 70vh;
    color: white;
}

.spring-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spring-img1,
.spring-img2,
.spring-img3,
.spring-img4{
    padding: 5px;
}

.svg{
   padding:0 0 5px 93vh ;
}

.shoe-section{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
}

.shoe1,
.shoe2,
.shoe-text{
    padding: 10px;
}

.shoe-text{
    width: 250px;
    height: 200px;
    padding-left: 30px;
}

.cost-text{
    font-size: small;
    padding: 0 0 10px 0;
}

.sample-product{
    font-size: x-large;
    padding: 0 0 20px 0;
}

.cost{
    padding: 0 0 5px 0;
    font-weight: bold;
}
.shoe-text button{
    border-radius: 100px;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
}

.subscribe{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.subscribe-form{
    display: flex;
    padding: 30px 0 10px 50px;
}

.subscribe-text .line{
    border-top:solid 10px #d9b1b3;
    width: 80vh;
    margin: 150px 20px 5px 50px;
}
.subscribe-text h1{
    margin: 5px 30vh 50px 30vh;
    justify-content: center;
}

.form1,
.form2{
    padding: 20px;
    height: 30px;
}

.subscribe-form .form1 input[type=text],
.subscribe-form .form2 input[type=text]{
    width: 250px;
    padding: 12px 20px;
}

.button{
    border-radius: 100px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 30px;
    margin-left: 42vh;
}

.button-text{
    width: 500px;
    margin-top: 20px;
    margin-left: 15vh;
    margin-right: 20vh;
    font-size: 0.7rem;
    text-align: center;
}

.icons{
    margin-left: 42vh;
    margin-top: 25px;
}

.facebook,
.twitter,
.instagram{
    width: 25px;
    height: 25px;
}
